@media only screen and (max-width:800px){
    .divWeather{
        display:flex;
        flex-direction:column
    }
    .middleWeather{
        order:1;
    }
    .leftWeather {
            order: 2;
        }
     .rightWeather{
            order:3;
        }
    .leftWeather, .rightWeather{
        text-align:center;
    }
    .imagineIcon {
        max-width: 3vw;
        max-height: 3vh;
    }
    .leftWeather p:nth-child(1) {
    justify-content:center;
    }

}

@media only screen and (max-width:400px){
    .container{
        padding:1rem;
        overflow-y :unset;
        max-height:unset;
    }
  

    
}